<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-----Bootstrap-------->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!----- W3CSS ----------->
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" >
    <!----- hoverCSS ----------->
    <link href="{% static 'css/hover-min.css' %}" rel="stylesheet">
    <!-----SelfDefined CSS------->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-----Game CSS------->
    <link href="{% static 'css/game.css' %}" rel="stylesheet">
    <!------Font1--------->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Amatic+SC" />
    <!------Font2--------->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie+Flower" />
    <!------Font3--------->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel" />
    <!------JQuery--------->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/invite_game.js' %}"></script>
</head>
<body background="{% static 'images/bg3.jpg' %}">
<!-----------header part-------------->
<div class="w3-display-top">
    <header>
        <div class="row">
            <h1>&nbsp;</h1><br>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <h1 class="hvr-hang w3-animate-left">T A M A G O C H I </h1>
            </div>
            <div class="col-md-5">
                <a href="{% url 'playCastle' %}"><button class="btnmap hvr-float-shadow">Game Mode</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'map' %}"><button class="btnmap hvr-float-shadow">MAP</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'logout' %}"><button class="btnmap hvr-float-shadow">SIGN OUT</button></a>

            </div>
        </div>
    </header>
</div>

{% block gameMode %}{% endblock %}
{% block singleIns %}{% endblock %}
{% block multiIns %}{% endblock %}
{% block gameroom %}{% endblock %}
{% block racinggame %}{% endblock %}
{% block singlegame2 %}{% endblock %}

{% block message %}
<!-- message_invitation-->
 <div class="modal fade" id="message_invitation" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content myMod">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">You have new game invitations!</h4>
       </div>
       <div id="invitation_list" style="margin:10px">
         <a href="{% url 'multiIns' %}"><button class='btn-success text-center hvr-buzz'>Go!</button></a>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>

   </div>
 </div>
<script language="JavaScript">
function checkInvitation() {
    var count = 0;
    {% for invitation in pet_invitation_list %}
        count = count+1;
    {% endfor %}
    if(count !== 0) {
        $('#message_invitation').modal('show');
    }
}
window.setInterval(checkInvitation,1000);
</script>
{% endblock %}
